body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#selectionScreen, #gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#codeInput {
    margin-top: 20px;
}

#gameArea {
    position: relative;
    width: 680px;
    height: 680px;
    background-color: #e0e0e0;
    border: 2px solid #000;
}

.character {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
}

#bride {
    background-image: url('bride.png'); /* Add your bride image */
    left: 5px;
    top: 53px;
	width: 25.5px; 
	height: 25.5px;
}

#groom {
    background-image: url('groom.png'); /* Add your groom image */
    right: 53px;
    bottom: 5px;
	width: 24px; 
	height: 24px;
}

.grass {
    position: absolute;
    background-image: url('grass.png');
    background-size: cover;
}

#musicControl {
    position: absolute;
    bottom: 40px; /* Adjust as needed */
    left: 50%; /* Aligns the button horizontally at the center */
    transform: translateX(-50%); /* Center the button horizontally */
	opacity: 0.5;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cssButton, input {
    padding: .75rem 3rem;
    font-size: 1.25rem;
}
	
.cssButton, input {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cssButton:after, input:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.cssButton:hover:after, input:hover:after {
    bottom: 2px;
    left: 2px;
}